*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #444444;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.navbar {
  position: relative;
  height: 120px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navlinks {
  display: flex;
}
.navbar .navlinks__item {
  border: 1px solid #53a0ff;
  height: 53px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  border-radius: 6px;
  color: #444444;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.navbar .navlinks__item:hover {
  background-color: #53a0ff;
  color: white;
}
.navbar .navlinks .offer {
  font-size: 0.75rem;
  font-weight: 400;
}

.navlinks__item + .navlinks__item {
  margin-left: 30px;
}

.logo {
  width: 350px;
  object-fit: cover;
}

.mobile-icon {
  width: 24px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.lines {
  width: 100%;
  border-bottom: 2px;
  height: 2px;
  background-color: #c4c4c4;
}

@media (max-width: 1020px) {
  .navbar .navlinks {
    display: none;
  }

  .mobile-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo__image {
    width: 280px;
  }
}
.hero {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hero__content {
  z-index: 999;
}
.hero__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.hero__bg {
  background: radial-gradient(99% 99% at 100% 2.67%, #deedff 0.02%, rgba(222, 237, 255, 0) 79.51%);
  width: 80vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -2;
}
.hero__subtext {
  font-size: 1rem;
  text-align: center;
  line-height: 2;
}
.hero__image {
  width: 100%;
  object-fit: cover;
  max-width: 600px;
  z-index: 1;
}
.hero__highlight {
  font-weight: 800;
}

@media (min-width: 1020px) {
  .hero__image {
    margin-top: -165px;
    max-width: 800px;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtext {
    font-size: 1.25rem;
  }
}
