*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #444444;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.paragraph {
  font-size: 1rem;
  text-align: center;
  line-height: 2;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

.navbar {
  position: relative;
  height: 120px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navlinks {
  display: flex;
}
.navbar .navlinks__item {
  border: 1px solid #53a0ff;
  height: 53px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  border-radius: 6px;
  color: #444444;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.navbar .navlinks__item:hover {
  background-color: #53a0ff;
  color: white;
}
.navbar .navlinks .offer {
  font-size: 0.75rem;
  font-weight: 400;
}

.navlinks__item + .navlinks__item {
  margin-left: 30px;
}

.logo {
  width: 300px;
  object-fit: cover;
}
.logo__image {
  width: 100%;
}

.mobile-icon {
  width: 24px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.lines {
  width: 100%;
  border-bottom: 2px;
  height: 2px;
  background-color: #c4c4c4;
}

@media (max-width: 1020px) {
  .navbar .navlinks {
    display: none;
  }

  .mobile-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo__image {
    width: 200px;
  }
}
.hero {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.hero__content {
  z-index: 5;
  max-width: 900px;
}
.hero__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.hero__bg {
  background: radial-gradient(99% 99% at 100% 2.67%, #deedff 0.02%, rgba(222, 237, 255, 0) 79.51%);
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -2;
}
.hero__image {
  width: 100%;
  object-fit: cover;
  max-width: 600px;
  z-index: 1;
}
.hero__highlight {
  font-weight: 800;
}

@media (min-width: 1020px) {
  .hero__image {
    margin-top: -165px;
    max-width: 800px;
  }
  .hero__subtext {
    font-size: 1.25rem;
  }
}
.what {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}
.what__title {
  font-size: 1.5rem;
  color: #444444;
}
.what__icon {
  max-width: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.explain__title {
  text-align: center;
  margin-bottom: 20px;
}

.pain {
  margin-top: 60px;
  margin-bottom: 60px;
  background: linear-gradient(250.86deg, #f8fcff -4.57%, rgba(221, 236, 255, 0.2) 102.79%);
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pain__title {
  text-align: center;
  margin-bottom: 40px;
}
.pain__types {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.pain__box {
  background-color: #eef5ff;
  display: flex;
  border-radius: 100px;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 20px;
}
.pain__box p {
  color: #444444;
  font-weight: 400;
  font-size: 1rem;
}
.pain__buttons {
  margin-bottom: 50px;
}
.pain__buttons .grouped {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.pain__buttons .grouped__btn {
  background-color: #53a0ff;
  padding: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}
.pain__buttons .grouped__text {
  color: #53a0ff;
  font-weight: 600;
}
.pain__buttons .single {
  border: 1px solid #53a0ff;
  padding: 12px;
  border-radius: 2100px;
  text-align: center;
  font-weight: 600;
  color: #444444;
  cursor: pointer;
}
.pain__image {
  width: 100%;
  object-fit: cover;
}

.pain__box + .pain__box {
  margin-left: 20px;
}

.row-1,
.row-4 {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.row-2,
.row-3 {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}

.sad {
  margin-right: 20px;
}

.faq__q {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}
.faq__sad {
  margin-right: 20px;
}
.faq__text {
  font-weight: 600;
  font-size: 1rem;
  color: #444444;
  line-height: 1.5;
}

.banner {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__image {
  width: 100%;
  margin-bottom: 30px;
}
.banner__title {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  color: #53a0ff;
  margin-bottom: 30px;
}
.banner__title::before {
  content: url("../../Public/Images/life-up.svg");
  position: absolute;
  left: -40px;
  top: -10px;
}
.banner__title::after {
  content: url("../../Public/Images/life-down.svg");
  position: absolute;
  right: -20px;
  bottom: -10px;
}

.how-title {
  background-color: #53a0ff;
  padding: 30px;
  color: #fff;
}
.how-title__text {
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.how {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 10px solid #53a0ff;
  padding-bottom: 40px;
}
.how__block {
  margin-bottom: 60px;
}
.how__image1 {
  display: none;
}
.how__icon {
  width: 45px;
  margin-bottom: 20px;
}
.how__text {
  line-height: 1.5;
  font-size: 1rem;
}

.block__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.bonus {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bonus__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
}
.bonus__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.bonus__title-main {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
  margin-top: 10px;
}
.bonus__title-top, .bonus__title-bottom {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.bonus__title-top img, .bonus__title-bottom img {
  margin-left: 10px;
}
.bonus__title__emoji {
  width: 110px;
}

.point {
  display: flex;
  margin-bottom: 20px;
}
.point .no {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #53a0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  flex-shrink: 0;
  margin-right: 20px;
}

.duo {
  display: flex;
  justify-content: space-between;
}
.duo .single {
  width: 45%;
  padding: 10px;
}

.footer {
  background-color: #0e0e0f;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.footer .white-logo {
  width: 60%;
}
.footer__left {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  font-size: 1rem;
  cursor: pointer;
}
.footer__right {
  display: flex;
  justify-content: space-between;
}
.footer__right .download {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__right .download img {
  width: 50x;
}

.line {
  width: 100vh;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 20px 0;
}

.copyright {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}
