@use "../base/mixins";
@use "../base/palette";

.banner {
    @include mixins.gap;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__image {
        width: 100%;
        margin-bottom: 30px;
        max-width: 600px;
    }

    &__title {
        position: relative;
        font-size: 2rem;
        font-weight: 800;
        color: palette.$accent;
        margin-bottom: 30px;
    }

    &__title::before {
        content: url("../Public/Images/life-up.svg");
        position: absolute;
        left: -40px;
        top: -10px;
    }

    &__title::after {
        content: url("../Public/Images/life-down.svg");
        position: absolute;
        right: -20px;
        bottom: -10px;
    }
}

@media (min-width: 1020px) {
    .banner::before {
        content: url("../Public/Images/Circle.svg");
        width: 200px;
        height: 200px;
        position: absolute;
        left: -15%;
        bottom: 50%;
    }
}
