@use "../base/mixins";
@use "../base/palette";

.bonus {
    @include mixins.gap;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.phone {
        align-items: flex-start;
    }

    &__image {
        width: 110%;
        max-width: 700px;
        object-fit: cover;
        @include mixins.pc {
            margin-bottom: 20px;
        }

        position: relative;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mixins.phone {
            align-items: flex-start;
        }
        margin-bottom: 30px;
        position: relative;

        @include mixins.pc {
            margin-bottom: 50px;
            max-width: 500px;
        }

        &-main {
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.5;

            margin-top: 10px;
        }

        &__points {
            position: relative;
        }

        &-top,
        &-bottom {
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            text-align: center;

            img {
                margin-left: 10px;
            }
        }

        &__emoji {
            width: 110px;
        }
    }
}

.point {
    display: flex;
    margin-bottom: 20px;
    @include mixins.para;
    text-align: left;

    .no {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: palette.$accent;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
        flex-shrink: 0;
        margin-right: 20px;
    }
}

.duo {
    display: flex;
    justify-content: space-between;

    .single {
        width: 45%;
        padding: 10px;
    }
}

//BONUS BUTTONS

@media (min-width: 1020px) {
    .bonus {
        &--button {
            // border: 1px solid red;
            width: 60%;
            margin-bottom: 40px;
            position: relative;

            .duo {
                // border: 1px solid blue;
                width: 50%;
                height: fit-content;

                .single {
                    padding: 20px;
                }
            }

            &::after {
                content: url("../Public/Images/dots.svg");
                position: absolute;
                right: -20%;
                bottom: -40%;
            }
        }

        &__title::before {
            content: url("../Public/Images/curly arrow.svg");
            position: absolute;
            width: 50px;
            left: -20%;
            top: 50%;
        }

        .points1::before {
            content: url("../Public/Images/dots.svg");
            position: absolute;
            right: 0;
        }

        // .points1::after {
        //     content: url("../Public/Images/dots.svg");
        //     position: absolute;
        //     left: 0;
        //     bottom: -50%;
        // }
    }
}
