@use "../base/palette";

.hero {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    &__content {
        z-index: 5;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__bg {
        background: radial-gradient(
            99% 99% at 100% 2.67%,
            #deedff 0.02%,
            rgba(222, 237, 255, 0) 79.51%
        );

        width: 80vw;
        height: 50vh;
        position: absolute;
        top: 0;
        left: 20%;
        z-index: -2;
    }

    &__subtext {
        font-size: 1rem;
        text-align: center;
        line-height: 2;
    }
    &__image {
        width: 100%;
        object-fit: cover;
        max-width: 600px;
        z-index: 1;
    }

    &__highlight {
        font-weight: 800;
    }
}

@media (min-width: 1020px) {
    .hero {
        &__image {
            margin-top: -165px;
            max-width: 800px;
        }

        &__title {
            font-size: 3rem;
        }

        &__subtext {
            font-size: 1.25rem;
        }
    }
}
