@use "../base/palette";
@use "../base/mixins";

.hero {
    @include mixins.pc {
        padding-top: 50px;
    }

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    // position: relative;
    overflow: hidden;

    &__content {
        z-index: 5;
        // max-width: 900px;
    }

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
        color: red;

        @include mixins.pc {
            font-size: 3rem;
        }
    }

    &__bg {
        background: radial-gradient(
            99% 99% at 100% 2.67%,
            #deedff 0.02%,
            rgba(222, 237, 255, 0) 79.51%
        );

        width: 80vw;
        height: 80vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
    }
    &__image {
        width: 100%;
        object-fit: cover;
        max-width: 600px;
        z-index: 1;
    }

    &__highlight {
        font-weight: 800;
    }

    &__text {
        font-size: 1.5rem;
        text-align: center;
        line-height: 2;

        @include mixins.phone {
            font-size: 1.25rem;
        }
    }
}

@media (min-width: 1020px) {
    .hero {
        flex-direction: column;
        &__image {
            margin-top: -165px;
            max-width: 800px;
        }

        // &__title {
        //     font-size: 2rem;
        // }

        &__subtext {
            font-size: 1.25rem;
        }
    }
}
