@use "../base/palette";
@use "../base/mixins";

//title
.how-title {
    background-color: palette.$accent;
    padding: 30px;
    color: #fff;

    &__text {
        margin-right: auto;
        margin-left: auto;
        width: fit-content;
    }
}

// HOW

.how {
    @include mixins.gap;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px solid palette.$accent;
    padding-bottom: 40px;

    &__block {
        margin-bottom: 60px;
    }

    &__image1 {
        display: none;
    }

    &__image2 {
        width: 90vw;
    }

    &__icon {
        width: 45px;
        margin-bottom: 20px;
        height: 63px;
    }

    &__text {
        @include mixins.para;
        line-height: 1.5;
        text-align: left;
    }
}

.block__title {
    font-weight: 700;
    margin-bottom: 10px;
}

@media (min-width: 1020px) {
    .how {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__block {
            flex: 1;
        }

        &__image1 {
            display: block;
            margin-top: 50px;
        }

        &__image2 {
            display: none;
        }

        &__block + &__block {
            margin-left: 30px;
        }
    }
}
