@use "../base/palette";
@use "../base/mixins";

.bg-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 500;
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

.fill {
    background-color: #fff;
}
.navbar {
    position: relative;

    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlinks {
        display: flex;

        &__item {
            @include mixins.pc {
                border: 1px solid palette.$accent;
                height: 53px;
            }

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            border-radius: 6px;
            color: palette.$black;
            font-weight: 600;
            font-size: 1rem;
            transition: 0.1s ease-in-out;
            cursor: pointer;

            &:hover {
                @include mixins.pc {
                    background-color: palette.$accent;
                    color: white;
                }
            }
        }
        .offer {
            font-size: 0.75rem;
            font-weight: 400;
        }
    }
}

.navlinks__item + .navlinks__item {
    @include mixins.pc {
        margin-left: 30px;
    }

    @include mixins.phone {
        margin-top: 50px;
    }
}

.logo {
    width: 300px;
    object-fit: cover;

    &__image {
        width: 100%;
    }
}

.mobile-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
    background-position: center;
}

.close {
    background-image: url(../Public/Images/open.png);
}

.open {
    background-image: url(../Public/Images/close.png);
}

@media (max-width: 1020px) {
    .navbar {
        .navlinks {
            display: none;
        }
    }

    .mobile-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .logo__image {
        width: 200px;
    }
}

.menu-open {
    display: flex !important;
    position: absolute;
    flex-direction: column;
    top: 110%;
    right: 10px;
    border: none;
    background-color: #fff;
    padding: 50px 20px;
    align-items: center;
    border-radius: 10px;
}
