@use "../base/palette";

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

.fill {
    background-color: #fff;
}
.navbar {
    position: relative;

    height: 120px;
    padding-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .navlinks {
        display: flex;

        &__item {
            border: 1px solid palette.$accent;
            height: 53px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            border-radius: 6px;
            color: palette.$black;
            font-weight: 600;
            font-size: 1rem;
            transition: 0.1s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: palette.$accent;
                color: white;
            }
        }
        .offer {
            font-size: 0.75rem;
            font-weight: 400;
        }
    }
}

.navlinks__item + .navlinks__item {
    margin-left: 30px;
}

.logo {
    width: 300px;
    object-fit: cover;

    &__image {
        width: 100%;
    }
}

.mobile-icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
    background-position: center;
}

.close {
    background-image: url(../../Public/Images/open.png);
}

.open {
    background-image: url(../../Public/Images/close.png);
}

@media (max-width: 1020px) {
    .navbar {
        .navlinks {
            display: none;
        }
    }

    .mobile-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .logo__image {
        width: 200px;
    }
}
