@mixin gap {
    @include pc {
        margin-top: 60px;
        margin-bottom: 60px;
        // color: red;
    }
    @include phone {
        margin-top: 30px;
        margin-bottom: 30px;
        // color: red;
    }
}

@mixin para {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;

    @include pc {
        font-size: 1.25rem;
    }
}

@mixin phone {
    @media (max-width: 1020px) {
        @content;
    }
}

@mixin pc {
    @media (min-width: 1020px) {
        @content;
    }
}
