//colors
$accent: #53a0ff;
$black: #0e0e0f;
$radial: radial-gradient(
    61.83% 107.43% at 100% 3.63%,
    #dfeeff 0.91%,
    rgba(223, 238, 255, 0) 100%
);
$linear: linear-gradient(
    250.86deg,
    #f8fcff -4.57%,
    rgba(221, 236, 255, 0.2) 102.79%
);

//fonts
$font: "Inter", sans-serif;
